.apps {
	padding: 90px 0;

	&__container {
		&-image {
			width: 309px;
			height: 623px;
		}

		/* center img on smaller screen */
		@media screen and (max-width: 1439px) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	h2 {
		font-size: 60px;
		line-height: 57px;
		color: $color-black; 
	}
	.app {
		border-top: 2px solid $color-black;
		margin-top: 54px;
		margin-bottom: 42px;

		&__title {
			font-size: 24px;
			line-height: 23px;
			color: $color-black;
			margin-top: 12px;
			margin-bottom: 12px;
		}
		&__text {
			font-size: 14px;
			line-height: 17px;
			color: $color-black;
			&--underline {
				text-decoration: underline;
			}
		}
	}
}