.hero { 
	padding: 36px 17px;
	
	&__head {
		&-title {
			font-size: 36px;
			line-height: 32px;
			color: $color-white;
			margin-bottom: 36px;

			span {
				display: block;
			}

			@media screen and (min-width: 1440px) {
				font-size: 60px;
				line-height: 57px;
			}
		}	
		&-lead {
			display: none;
			font-size: 18px;
			line-height: 17px;
			color: $color-white;
			margin-bottom: 48px;

			@media screen and (min-width: 1440px) {
				display: inline-block;
			}
		}
	}
	&__body {
		hr {
			display: none;
			color: $color-white;
			height: 2px;
			margin: 0;
			margin-bottom: 13px;

			@media screen and (min-width: 1440px) {
				display: block;
			}
		}
		&-heading {
			display: none;
			font-size: 18px;
			line-height: 17px;
			color: $color-white;
			margin-bottom: 13px;

			@media screen and (min-width: 1440px) {
				display: inline-block;
			}
		}	
		&-title {
			font-size: 16px;
			line-height: 14px;
			color: $color-white;
			margin-bottom: 6px;
		}
		&-price {
			font-size: 36px;
			line-height: 32px;
			color: $color-white;
			margin-bottom: 7px;
		}
		&-text {
			font-size: 12px;
			line-height: 14px;
			color: $color-white;
			margin-bottom: 6px;
		}
		&-list {
			display: none;

			&-item {
				font-size: 14px;
				line-height: 16px;
				color: $color-white;
			}

			@media screen and (min-width: 1440px) {
				display: inline-block;
			}
		}
		
		.special-line__container {
			display: none;
			margin-bottom: 13px;

			&-text {
				font-size: 14px;
				line-height: 17px;
				color: $color-white;
			}
			.line-break {
				display: inline-block;
				width: 68px;
				margin: 0;
				margin-bottom: 4px;
			}

			@media screen and (min-width: 1440px) {
				display: inline-block;
			}
		}
		.plus__container {
			display: flex;
			font-size: 14px;
			line-height: 17px;
			color: $color-white;
			margin-bottom: 54px;
			display: none;

			:not(:first-child):not(:last-child) {
				padding: 8px 30px;
			}

			@media screen and (min-width: 1440px) {
				display: inline-block;
			}
		}
		.mobile__container {
			&-text {
				font-size: 12px;
				line-height: 14px;
				color: $color-white;
				font-weight: bold;
				margin-bottom: 18px;
			}
			&-list {
				margin-top: 18px;

				&-item {
					font-size: 14px;
					line-height: 17px;
					color: $color-white;
					margin-bottom: 12px;
				}
			}

			@media screen and (min-width: 1440px) {
				display: none;
			}
		}
		.button {
			width: 315px;
			height: 54px;
			margin: 36px 0;

			@media screen and (min-width: 1440px) {
				margin: 0;
				width: 234px;
			}
		}
	}

	/* start styles for shop.html */
	&--shop {
		border-bottom: 1px solid $line-primary;
		padding: 0 19px;
		padding-top: 36px;
		padding-bottom: 15px;

		.hero {
			&__content {
				&--mobile {
					&-title {
						font-size: 36px;
						line-height: 33px;
						color: $color-black;
						margin-bottom: 19px;
					}
					&-lead {
						font-size: 18px;
						line-height: 22px;
						color: $color-black;
						margin-bottom: 0;
					}

					@media screen and (min-width: 1440px) {
						display: none;
					}
				}
				&--desktop {
					display: none;

					&-title {
						font-size: 60px;
						line-height: 57px;
						color: $color-black;
						margin-bottom: 24px;
					}
					&-lead {
						font-size: 20px;
						line-height: 24px;
						color: $color-black;
						margin-bottom: 0;
					}

					@media screen and (min-width: 1440px) {
						display: inline-block;
					}
				}
			}
		}

		@media screen and (min-width: 1440px) {
			border-top: 1px solid $line-primary;
			padding-top: 90px;
			padding-bottom: 60px;
			padding-left: 40px;
		}
	}

	@media screen and (min-width: 1440px) {
		padding-top: 90px;
		padding-bottom: 120px;
		padding-left: 80px;
		border-top: 1px solid $line-primary;
	}
}
