.mobile-nav {
	padding: 10px 14px;

	&__list {
		display: flex;
		margin: 0;
		&-item {
			a {
				color: $color-black;
			}

			&--logo {
				width: 57px;
				height: 41px;
				margin-right: 76px;
				margin-left: 33px;
			}
		}
	}

	@media screen and (min-width: 1440px) {
		display: none;
	}
}