.slider {
	&--shop {
		.slick-dots {
			& li button:before {
				color: $color-black-light;
				border-radius: 100%;
				border: 1px solid;
				width: 10px;
				height: 10px;
				content: '';
				background-color: $color-white;
				opacity: 1;
			}
			& li.slick-active button:before {
				background-color: $color-black;
				opacity: 1;
			}
		}

		.slide {
			border: 1px solid $color-grey-slider;
			border-top: 2px solid $color-black;

			div {
				border-bottom: 1px solid $color-grey-slider;
			}

			&__price {
				padding: 18px 0;

				&-title {
					font-size: 16px;
					line-height: 15px;
					margin-bottom: 12px;
				}
				&-amount {
					font-size: 30px;
					line-height: 28px;
					margin-bottom: 6px;
				}
				&-plan {
					font-size: 12px;
					line-height: 14px;
					color: $color-black-light;
				}
			}
			&__internet {
				padding: 18px 0;

				&-title {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 7px;
				}
				&-devices {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 11px;
					color: $color-header-link;
				}
				&-download {
					font-size: 14px;
					line-height: 16px;
					color: $color-header-link;
					margin: 0;
				}
			}
			&__tv {
				padding: 18px 0;

				&-title {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 6px;
				}
				&-pick {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 12px;
					color: $color-header-link;
				}
				&-view {
					a {
						font-size: 12px;
						line-height: 14px;
						color: $color-black;
						text-decoration: underline;		
					}
					
				}
				&-list {
					list-style: none;
					display: flex;
					margin: 0;
					margin-bottom: 18px;

					&-item {
						font-size: 12px;
						line-height: 14px;

						span {
							display: block;
							color: $color-header-link; 
						}
						&--image {
							width: 67px;
							height: 25px;
							margin-left: 0;
							margin-right: 14px;
						}
					}
				}
				&-multi {
					font-size: 12px;
					line-height: 14px;
					margin: 0;
				}
			}
			&__home {
				padding: 18px 0;

				&-title {
					font-size: 14px;
					line-height: 16px;
					margin-bottom: 7px;
				}
				&-text {
					font-size: 14px;
					line-height: 16px;
					margin: 0;
					color: $color-header-link;
				}
			}
			&__guarantee {
				padding: 18px 0;

				&-text {
					font-size: 14px;
					line-height: 16px;
					margin: 0;
				}
			}
		}
	}
}
